@model AppUser
@{
    Layout = null;
}

<!DOCTYPE html>

<h1>EmailConfirmed</h1>
<form method="post">

    <label>EMAİL</label>
    <input type="text" asp-for="Email" class="form-control" />

    <label>EMAİL CONFİRMED CODE</label>
    <input type="text" asp-for="MailCode" class="form-control" />

    <button type="submit">CONFIRMED</button>
</form>